* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body, canvas{
    margin: 0;
}

header {
    background-color: #000;
}

h1 {
    text-align: center;
    font-size: 5em;
}

.container p {
    font-size: 1.2em;
    text-align: justify;
}

footer p {
    margin: 0;
}

.links {
    bottom: 20px;
}

.links a {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    filter: invert(32%) sepia(44%) saturate(5921%) hue-rotate(346deg) brightness(99%) contrast(86%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease-in-out;
}

.logos:hover {
    width: 100px;
    height: 100px;
    filter: invert(100%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease-in-out;
}

.skills p {
    background: #eb3434;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 18px;
    margin-right: 5px;
    width: fit-content;
    height: fit-content;
    word-break: break-word;
    border: 0;
}

/*animations*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.skill:nth-child(2) {
    transition-delay: 100ms;
}

.skill:nth-child(3) {
    transition-delay: 200ms;
}

.skill:nth-child(4) {
    transition-delay: 300ms;
}

.skill:nth-child(5) {
    transition-delay: 400ms;
}

.skill:nth-child(6) {
    transition-delay: 500ms;
}

.skill:nth-child(7) {
    transition-delay: 600ms;
}

.skill:nth-child(8) {
    transition-delay: 700ms;
}

.skill:nth-child(9) {
    transition-delay: 800ms;
}

.skill:nth-child(10) {
    transition-delay: 900ms;
}

.blink {
    animation: blink 1s infinite forwards ease-in; /*black #000000 to red #eb3434*/
}

@keyframes blink {
    from{opacity: 0;}
    to{opacity: 1;}
}

/*custom scrollbar*/

::-webkit-scrollbar {
    position: fixed;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #eb3434;
    border-radius: 200px;
}

/*media settings*/

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/*On Mobile*/

@media only screen and (max-width: 600px) {
    .profile-picture {
        width: 300px;
        height: 300px;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}
